@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

html {
     height: 100%;
}

body {
     font-family: 'Montserrat', sans-serif;
     background-color: grey;
     /*background: url(../img/BackGround.jpg) no-repeat center center fixed;*/

     background: url(../img/Background.jpg) no-repeat center center fixed;

     -webkit-background-size: cover;
        -moz-background-size: cover;
          -o-background-size: cover;
             background-size: cover;
}

.height-100 {
     height: 100%;
}

.bg-dark-alpha {
     background-color: rgba(0,0,0,0.2);
}
.bg-light-alpha {
     background-color: rgba(255,255,255,0.2);
}

.login-form {
     border: 2px solid rgba(0, 0, 0, 0.2);
}

.basic-font {
    font-family: 'Bebas Neue', cursive !important;
    color: white !important;
}

.login-content {
    background-color: #242424;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 50%;
}

.articulo-content {
    background-color: #242424;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
}

.login-logo {
    margin-top: 3%;
}

#login-title {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 45px;
    line-height: 66px;
}

.form-content {
    margin: 2% 15% 10% 15%;
    color: white;
}

.form-content-articulo {
    margin: 2% 5% 10% 5%;
    color: white;
}

.form-content-filtro {
    color: white;
}


.form-group {
    overflow: hidden;
    font-size: 15px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid white;
}

.form-icon {
    margin-top: 3%;
    width: 20px;
    float: left;
    text-align: center;
}

.form-control {
    border: none;
    outline: none;
    background: none;
    color: white;
    font-size: 18px;
    width: 80%;
    float: left;
    margin: 0 10px 0 0.4rem;
}

.login-input, .login-input:focus, .login-input:active {
    background-color: #242424; 
    border-top: 1px;
    border-left: 1px;
    border-right: 1px;
    color: white;
    outline: none;
}

.login-input-label {
    color:  rgba(236, 240, 241, 0.54) !important;
}

.login-btn {
    display: block;
    margin: 0 auto 5% auto;
    width: 50%;
    padding: 2% 0;
    background-color: #ECF0F1;
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    line-height: 36px;
}

.fa-xxs {
    font-size: .55em;
}

.required {
    color: red;
    vertical-align: super;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    color: white;
    font-size: 15px;
 }

 label{
    color:white;
 }


 .w3-card-4 {
     color: white;
 }